@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Oswald:wght@200;400;500&family=Playfair+Display:wght@400;500&family=Poppins:wght@300;400;500&display=swap');


html{
    font-family: Oswald;
    letter-spacing: 3px;
}


form{
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}



.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header h2{
    font-size: 1.7rem;
    font-family: 'Oswald', sans-serif;
    font-weight: ExtraLight 200;
    letter-spacing: 2px;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

label input{
    height: 35px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid green;
}

label > span:last-child{
    color: red;
}

.form-buttons button{
    min-width: 120px;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-weight: 600;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.form-buttons{
    display: flex;
    gap: 20px;
}

.form-buttons > button:first-child{
    background-color: green;
    border: 2px solid green;
}

.form-buttons > button:first-child:hover{
    background-color: transparent;
    color: green;
}

.form-buttons > button:last-child{
    background-color: blueviolet;
    border: 2px solid blueviolet;
}

.form-buttons > button:last-child:hover{
    background-color: transparent;
    color: blueviolet;
    
}