.projects-h2{
    text-align: center;
    margin-top: 50px;
}

.projects-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    
    
}

.projects{
    margin-top: 20px;
}

